<div class="jumbotron">
	<h1>Welcome to MASE !</h1>
	<p class="lead">MASE is a task manager, based on the latest web technologies which allows you to :
		<ul class="list-unstyled">
			<li>Save and organize your todo list</li>
			<li>Search easily your todo list</li>
			<li>Sort and filter your todo list</li>
		</ul>
	</p>
	<p>
		<a class="btn btn-lg btn-success" href="#/register" role="button">Sign up</a>
		or
		<a class="btn btn-lg btn-success" href="#/login" role="button">Sign in</a>
	</p>
</div>