<div>
 	<div class="alert alert-success" ng-show="success">
        <strong>Registration succeed !</strong>
    </div>
	<div class="alert alert-danger" ng-show="authenticationError">
        <strong>Registration failed!</strong>
    </div>
    <div class="alert alert-danger" ng-show="doNotMatch">
      The password and its confirmation do not match!
    </div>
	<form class="form-horizontal" role="form" ng-submit="registerUser();">
		<div class="form-group">
			<label for="inputFirstName" class="col-sm-2 control-label">First name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputFirstName"
					placeholder="First name" ng-model="user.firstName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputLastName" class="col-sm-2 control-label">Last name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputLastName"
					placeholder="Last name" ng-model="user.lastName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="inputEmail"
					placeholder="Email" ng-model="user.email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="inputPassword"
					placeholder="Password" ng-model="user.password" ng-minlength=5 ng-maxlength=50 required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="inputConfirmPassword"
					placeholder="Confirm Password" ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Sign up</button>
			</div>
		</div>
	</form>
	<p>You have already an account? <a href="#/login">Sign in here</a>
</div>